<p class="text-lg mb-6 text-center">¡Nos vamos a <b>Noruega</b>!</p>
<img
  src="https://res.cloudinary.com/simpleview/image/upload/v1470836048/clients/norway/naeroyfjorden_fjord_norway_2_1_001b9127-14ad-4b3d-99b6-29d8b3aae412.jpg"
  alt="Noruega"
  class="rounded-lg shadow-lg mb-6"
/>
<p class="text-lg mb-6">
  Preparese para un viaje lleno de excursiones por la naturaleza nórdica. Además de los freetours 👉👈
</p>

<p>A CONSULTRA: FECHAS DISPONIBLES A PARTIR DE SEPTIEMBRE</p>
